[Unit]
Description=Thanos Query
Wants=network-online.target
After=network-online.target

[Service]
User=thanos
Group=thanos
Type=simple
ExecStart=/usr/local/bin/thanos query \
     --http-address=0.0.0.0:10904 \
     --grpc-address=0.0.0.0:10903 \
     --endpoint=127.0.0.1:10901 \
     --endpoint=127.0.0.1:10905 \
     --endpoint=10.140.9.77:10901 \
     --endpoint=10.140.9.77:10905 \
     --endpoint=10.140.9.79:10901 \
     --endpoint=10.140.9.79:10905 \
     --query.replica-label=prometheus-1

[Install]
WantedBy=multi-user.target
