[Unit]
Description=Thnaos Store
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/thanos store \
       --data-dir=/var/lib/prometheus-store/ \
       --objstore.config-file=/etc/prometheus/bucket.yml \
       --http-address=0.0.0.0:10906 \
       --grpc-address=0.0.0.0:10905

[Install]
WantedBy=multi-user.target
