[Unit]
Description=Thnaos Store
Wants=network-online.target
After=network-online.target

[Service]
User=thanos
Group=thanos
Type=simple
ExecStart=/usr/local/bin/thanos store \
       --data-dir=/var/lib/prometheus/ \
       --objstore.config-file=/etc/prometheus/storage.yml \
       --http-address=0.0.0.0:10906 \
       --grpc-address=0.0.0.0:10905

[Install]
WantedBy=multi-user.target
